h1 {
    text-align: center;
}
p.red {
    color:red
}
p.blue {
    color:blue
}
p.green {
    color:green
}
p.big {
    font-size: larger;
}
p.tiny {font-size: x-small;
}
p.centered {
    text-align: center;
}
p.bold {
    font-weight: bold;
}
p.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.mult {
    font-size: xx-large; color: greenyellow;
}
p.styledFont {
    color: indigo;
}
id.styledImage {
    border-style: ridge;
}